@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/*--------------------*/
.main-picture__body {
  position: relative;
  overflow: hidden;
  padding-top: 75vh;
  background: #fff url("../img/index/main.jpg") 0 0/cover no-repeat;
  background-attachment: fixed;
}
@supports (background: url("../img/index/main.webp") 0 0/cover no-repeat) {
  .main-picture__body {
    background: #fff url("../img/index/main.webp") 0 0/cover no-repeat;
    background-attachment: fixed;
  }
}
.main-picture__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto";
  font-size: 100px;
  font-weight: 500;
  color: #fff;
  line-height: 120%;
}
@media (max-width: 1910px) {
  .main-picture__text {
    font-size: calc(150px + (-50) * (100vw - 375px) / 1535);
  }
}
@media (max-width: 375px) {
  .main-picture__text {
    font-size: 150px;
  }
}
.main-picture__text span {
  color: red;
}

.title-main {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
  text-align: center;
}
@media (max-width: 1910px) {
  .title-main {
    font-size: calc(23px + (7) * (100vw - 375px) / 1535);
  }
}
@media (max-width: 375px) {
  .title-main {
    font-size: 23px;
  }
}

.fill {
  padding: 1000px 0px 0px 0px;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Russo";
  src: url("../font/RussoOne-Regular.woff2") format("woff2"), url("../font/RussoOne-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #E8E8E8;
  width: 100%;
  position: relative;
}
.header__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #000;
  background: #E9EBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__logo {
  width: 120px;
  padding: 0px 0px 3px 0px;
}
.menu__logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 10px 0px;
}
@media (max-width: 1000px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@media (max-width: 1000px) {
  .menu__list.active-menu {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.menu__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1000px) {
  .menu__line {
    margin: 0px 0px 0px 10px;
  }
}
.menu__link {
  padding: 15px 30px 10px 30px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #000;
  line-height: 120%;
  text-transform: uppercase;
  border-top: 3px solid rgba(0, 0, 0, 0);
}
@media (max-width: 1910px) {
  .menu__link {
    font-size: calc(13px + (2) * (100vw - 375px) / 1535);
  }
}
@media (max-width: 375px) {
  .menu__link {
    font-size: 13px;
  }
}
@media (min-width: 1000px) {
  .menu__link.active-link {
    border-top: 3px solid #000;
  }
}
@media (max-width: 1000px) {
  .menu__link.active-link {
    color: rgba(0, 0, 0, 0.2117647059);
  }
}
.menu__link:hover {
  border-top: 3px solid #000;
  color: rgba(0, 0, 0, 0.6784313725);
}
@media (max-width: 1000px) {
  .menu__link {
    width: 200px;
    border-bottom: 1px solid #000;
    text-align: center;
  }
}

.burger {
  display: none;
}
@media (max-width: 1000px) {
  .burger {
    display: block;
  }
}
.burger.active-burger {
  position: relative;
  z-index: 3;
}
.burger__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 100%;
  position: relative;
}
.burger__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}
.burger__button {
  margin: 4px 0px 0px 0px;
}
.burger__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 3px;
}
.burger__span {
  height: 3px;
  width: 30px;
  background-color: #000;
  position: relative;
}
.burger__span.active-burger {
  height: 0;
}
.burger__span.active-burger::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}
.burger__span.active-burger::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}
.burger__span::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 3px;
  width: 30px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger__span::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 3px;
  width: 30px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 10px 0px;
}
.footer__body {
  width: 80px;
}
.footer__body img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.ptb-10 {
  padding: 10px 0px 10px 0px;
}

.bg-grey {
  background: #E9EBEB;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0px 20px 0px 20px;
}
@media (max-width: 1240px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 1140px) {
  .container {
    margin: 0 auto;
    max-width: 1000px;
  }
}
@media (max-width: 1020px) {
  .container {
    padding: 0px 10px 0px 10px;
  }
}

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}