@import '../scss/mixin.scss';
@import '../scss/variables.scss';


.mt-50 {
    margin: 50px 0px 0px 0px;
}

.mt-75 {
    padding: 75px 0px 75px 0px;
    background-color: $color-bg-main-2;
    @media (max-width: 1000px){
        padding: 50px 0px 50px 0px;  
    }
}

.ptb-10 {
    padding: 10px 0px 10px 0px;
}

.pt_100 {
    padding-top: 100px;
    @media (max-width: 1000px){
        padding-top: 70px;
    }
}

.bg-grey {
    background: $color-bg-main;
}

//= stuff  
.m_0_30_-100_50 {
    position: relative;
    z-index: 2;
    margin: 0px 30px -100px 50px;

    @media (max-width: 1000px){
        margin: -100px 20px 0px 20px;
    }
}

.m_-100_50_0_30 {
    position: relative;
    z-index: 2;
    margin: -100px 50px 0px 30px;

    @media (max-width: 1000px){
        margin: -100px 20px 0px 20px;
    }
}

.m_300_350 {
    position: relative;
    z-index: 2;
    margin: 350px -300px 0px 0px;

    @media (max-width: 1000px){
        margin: -180px 20px 0px 20px;
    }
}

.mp5 {
    margin: 0px 35px 0px 300px;
    @media (max-width: 1000px){
        margin: 0px 20px 0px 20px;
    }
}