@import '../scss/mixin.scss';
@import '../scss/variables.scss';


.footer {
    background: #000;

    display: flex;
    justify-content: center;

    padding: 10px 0px 10px 0px;
    // .footer__body
    &__body {
        width: 80px;
        & img {
            object-fit: cover;
            width: 100%;
        }
    }
}
