@import '../scss/mixin.scss';
@import '../scss/variables.scss';


//= .our-story-main 
.our-story-main {
    @media (max-width: 1000px){
        margin: 0px 0px 100px 0px;
    }
    // .our-story-main__body
    &__body {
        width: 100%;

        position: relative;
        padding: 20px 10px 0px 0px;

        background:#fff url('../img/project-7/1.jpg') 0 0 / cover no-repeat;

        @supports (
                background: url('../img/project-7/1.webp') 0 0 / cover no-repeat) 
            {
                background-image: url('../img/project-7/1.webp');
            }
        
    }
    // .our-story-main__img
    &__img {
        width: 100%;
        & img {
            width: 100%;
            
            object-fit: cover;
            object-position: center center;

        }
    }
}
//= .employee 
.employee {
    display: flex;
    justify-content: center;

    margin: 120px 0px 0px 0px;

    @media (max-width: 1000px){
        margin: 60px 0px 0px 0px;
    }
    // .employee__body
    &__body {
        display: flex;

        @media (max-width: 1000px){
            justify-content: center;
        }
    }
    // .employee__block
    &__block {
        display: flex;

        position: relative;

        @media (max-width: 1000px){
            flex-direction: column;
        }
    }
    // .employee__img
    &__img {
        width: 255px;

        @media (max-width: 1000px){
            position: relative;
            z-index: 3;

            width: 280px;
        }
        & img {
            object-fit: cover;
            width: 100%;
        }
    }
}

.img-blok {
    width: 100%;
    display: flex;
    &__pic {
        & img {
            object-fit: cover;
            width: 100%;
        }
    }
}

.projects-our-story {
    position: relative;

    & img {
        width: 100%;
        object-fit: cover;
    }

    &__img {
        width: 100%;
        object-fit: cover;

        margin: 20px 0px 0px 0px;
    }
    &__title-img {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;

        margin: 20px 0px 0px 0px;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #00000076;

        text-transform: uppercase;

        @include text_streach(20, 18, #ffffffcc);
    }
}





