@import '../scss/mixin.scss';
@import '../scss/variables.scss';


//= .our-story-main 
.our-story-main {
    @media (max-width: 1000px){
        margin: 0px 0px 200px 0px;
    }
    // .our-story-main__body
    &__body {
        width: 100%;

        position: relative;
    }
    // .our-story-main__img
    &__img {
        width: 100%;
        & img {
            width: 100%;
            
            object-fit: cover;
            aspect-ratio: 1920 / 750;
            object-position: center center;

            @media (max-width: 1000px){
                aspect-ratio: 300 / 400;
            }
        }
    }
}
//= .employee 
.employee {
    display: flex;
    justify-content: center;

    margin: 120px 0px 0px 0px;

    @media (max-width: 1000px){
        margin: 60px 0px 0px 0px;
    }
    // .employee__body
    &__body {
        display: flex;

        @media (max-width: 1000px){
            justify-content: center;
        }
    }
    // .employee__block
    &__block {
        display: flex;

        position: relative;

        @media (max-width: 1000px){
            flex-direction: column;
        }
    }
    // .employee__img
    &__img {
        width: 255px;

        @media (max-width: 1000px){
            position: relative;
            z-index: 3;

            width: 280px;
        }
        & img {
            object-fit: cover;
            width: 100%;
        }
    }
}


