@import "__null", "__index", "__font", "__header", "__footer", "__addition", "__our-story", "__test", "__projects", "__supplement", "__our-story", "__page-404";

.wrapper {
    display: flex;
    flex-direction: column; 
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.container-full-width {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    
    padding: 0px 20px 0px 20px;
    @media (max-width: 1240px){
        padding: 0px 20px 0px 20px;
    }
    @media (max-width: 1140px){
        margin: 0 auto;
        max-width: 1000px;
    }
    @media (max-width: 1020px){
        padding: 0px 10px 0px 10px;
    }
}


.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}

html {
    scroll-behavior: smooth;
}


