//= color 
$color-text: rgb(84, 84, 84);
$brown: #000;
$burger-line: #fff;

$color-bg-main: #E9EBEB;
$color-bg-main-2: #FAFAFA;

$color-header: #000;

//= value 
$value-gallery-gap: 50px;
$value-gallery-gap-mobile: 20px;

//= логотип 
$size-logo-pc: 45px;
$size-logo-mob: 42px;

//= translate 
$size-img-flag: 30px;
$size-img-flag-mob: 25px;

$size-text-max: 14px;
$size-text-min: 11px;

$width-box-tr-mob: 50px;

