<!---- index -->
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="69.studio">
        <meta name="keywords" content="69.studio">
        <link rel="icon" type="image/png" href="/img/public/favicon.png">
        <link rel="stylesheet" href="/css/style.css?v=3.5">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body  >
        <!-- dark="true" -->
        <div class="wrapper unselect">
            <!--= header -->
            <heder class="header">
                <div class="header__body">
                    <nav class="menu">
                        <div class="menu__body _container-without-padding">
                            <!--: logo -->
                            <a href="/" class="menu__logo">
                                <img src="/img/public/logo-full.png" alt="logo" >
                            </a>

                            <!--: бургер меню -->
                            <div class="burger">
                                <div class="burger__body">
                                    <div class="burger__button">
                                        <div class="burger__square">
                                            <span class="burger__span"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--: меню -->
                            <ul class="menu__list">
                                <li class="menu__line">
                                    <a href="/" class="menu__link" data-menu="home" >Strona główna</a>
                                </li>
                                <li class="menu__line">
                                    <a href="/about-us" class="menu__link" data-menu="about-us" >o nas</a>
                                </li>
                                <li class="menu__line">
                                    <a href="/projects" class="menu__link" data-menu="projects" >projekty</a>
                                </li>
                                <li class="menu__line">
                                    <a href="/contacts" class="menu__link" data-menu="contacts" >kontakty</a>
                                </li>
                            </ul>

                            <!--: select-language -->
                            <div class="select-language"> 
                                <div class="moon">
                                    <img id="moon" src="/img/icon/moon.png" alt="moon">
                                </div>
                                <!--. ACTIVE -->
                                <div class="select-active">
                                    <div class="select-active__body">
                                        <img class="select-active__img" src="/img/flag/pl.jpg" alt="flag">
                                        <div class="select-active__text">Polski</div>
                                    </div>
                                </div>
                                
                                <!--. BODY -->
                                <div class="select-language__body">

                                    <!--. English -->
                                    <div class="select-language__line">
                                        <label for="en" class="select-language__label">
                                            <img src="/img/flag/en.jpg" alt="flag">
                                            <span>English</span>
                                        </label>
                                        <input type="radio" name="language" id="en" value="en" class="select-language__input">
                                    </div>

                                    <div class="gap-lang"></div>

                                    <!--. Russia -->
                                    <div class="select-language__line">
                                        <label for="ru" class="select-language__label">
                                            <img src="/img/flag/ru.jpg" alt="flag">
                                            <span>Russia</span>
                                        </label>
                                        <input type="radio" name="language" id="ru" value="ru" class="select-language__input">
                                    </div>

                                    <div class="gap-lang"></div>

                                    <!--. Polski -->
                                    <div class="select-language__line">
                                        <label for="pl" class="select-language__label">
                                            <img src="/img/flag/pl.jpg" alt="flag">
                                            <span>Polski</span>
                                        </label>
                                        <input type="radio" name="language" id="pl" value="pl" class="select-language__input">
                                    </div>

                                    <!-- <div class="gap-lang"></div> -->

                                    <!--. Deutsch -->
                                    <!-- <div class="select-language__line">
                                        <label for="de" class="select-language__label">
                                            <img src="/img/flag/de.jpg" alt="flag">
                                            <span>Deutsch</span>
                                        </label>
                                        <input type="radio" name="language" id="de" value="de" class="select-language__input">
                                    </div> -->
                                    
                                </div>
                            </div>
                            
                        </div>
                    </nav>
                    <div class="menu-fill"></div>
                </div>
            </heder>
            <!--= main -->
            <main class="main bg-grey dark">  
                <%= foo %>
            </main>
            <!--= footer -->
            <footer class="footer" >
                <div class="footer__body">
                    <div class="footer__left">
                        <div class="footer__phone">
                            <a href="tel:+48501031774">tel. +48 501031774</a>
                        </div>
                    </div>
                    <div class="footer__center">
                        <img src="/img/public/logo-full.png" alt="logo" >
                    </div>
                    <div class="footer__right">
                        <a href="https://www.instagram.com/69.studio_architects" target="_blank" class="footer__icon">
                            <img src="/img/icon/instagram-white.png" alt="">
                        </a>
                        <a href="https://www.facebook.com/people/69studio/61554507934866/" target="_blank" class="footer__icon">
                            <img src="/img/icon/fb-white.png" alt="">
                        </a>
                    </div>
                </div>
            </footer>
        </div>
        <script src="/bundle.js?v=3.5"></script>
    </body>
</html>