@import './mixin.scss';
@import './variables.scss';


//= .header 
.header {
    background-color: #E8E8E8;
    width: 100%;
    position: relative;
    // .header__body
    &__body {
        width: 100%;

        display: flex;
        justify-content: center;
    }
}

//= .menu 
.menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;

    border-bottom: 2px solid #000;

    background: #000;

    display: flex;
    justify-content: center;

    // .menu__body
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .menu__logo
    &__logo {
        height: $size-logo-pc;
        position: relative;
        & img {
            object-fit: cover;
            height: 100%;
        }

        @media (max-width: 1000px){
            height: $size-logo-mob;
            order: 1;
            flex: 1  0 auto;
            padding: 0px 0px 0px 5px;
        }
    }
    // .menu__list
    &__list {
        display: flex;
        //gap: 20px;

        padding: 10px 0px 10px 0px;

        @media (max-width: 1000px){
            flex-direction: column;
            justify-content: center;

            position: absolute;
            z-index: 4;
            top: 100%;
            right: -100%;
            width: 100vw;
            height: 100vh;
            background-color: var(--dark-menu);

            transform: translateY(-10%);

            transition:all 0.3s ease;
        }

        &.active-menu {
            @media (max-width: 1000px){
                position: absolute;
                z-index: 4;
                top: 100%;
                right: 0%;
                width: 100vw;
                height: 100vh;
                background-color: var(--dark-menu);

                transform: translateY(-10%);
            }
        }
    }
    // .menu__line
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1000px){
            margin: 0px 0px 0px 10px; 
        }
    }
    // .menu__link
    &__link {
        padding: 15px 30px 10px 30px;
        @include text_streach (15, 13, #fff, 400);
        text-transform: uppercase;

        border-top: 3px solid #00000000;

        &.active-link {
            @media (min-width: 1000px){
                border-top: 3px solid #ffffff76;
            }
            @media (max-width: 1000px){
                color: #fff;
            }
        }

        &:hover {
            border-top: 3px solid #fff;
            //color: #000000ad;
        }

        @media (max-width: 1000px){
            width: 200px;
            border-bottom: 1px solid var(--dark-text);
            text-align: center;

            @include text_streach (15, 13, var(--dark-text), 400);
        }
    }
}

.moon {
    position: absolute;
    top: 4px;
    left: -27px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

//= menu burger
.burger {
    display: none;
    @media (max-width: 1000px){
        display: block;
        order: 3;
        padding: 0px 7px 0px 0px;
    }
    &.active-burger {
        position: relative;
        z-index: 4;
    }
    // .burger__body
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        width: 100%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 4px;
            width: 100%;
        }
    }
    
    // .burger__button
    &__button {
        margin:4px 0px 0px 0px;
    }
    // .burger__square
    &__square {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 44px;
        border-radius: 3px;
    }
    // .burger__span
    &__span {
        height: 3px;
        width: 30px;
        background-color: #fff;
        position: relative;
        &.active-burger {
            height: 0;
            background-color: var(--dark-text);
        }
        &.active-burger::before{
            transform: rotate(45deg);
            top: 0px;
        }
        &.active-burger::after{
            transform: rotate(-45deg);
            top: 0px;
        }
        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            height: 3px;
            width: 30px;
            background-color: inherit;
            transition: all 0.3s ease;
        }
        &::after {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            height: 3px;
            width: 30px;
            background-color: inherit;
            transition: all 0.3s ease;
        }
    }
}

//= .select-language 
.select-language {
    position: relative;

    display: flex;
    justify-content: center;

    @media (max-width: 1000px){
        order: 2;
    }
    // .select-language__body
    &__body {
        position: absolute;
        z-index: 2;
        top: -300%;
        left: 0;

        background-color: #000;

        padding: 7px;

        transition:all 0.4s ease;

        &.active {
            top: 100%;
        }
    }
    // .select-language__label
    &__label {
        display: flex;
        align-items: center;

        cursor: pointer;

        & img {
            object-fit: cover;
            width: $size-img-flag;

            @media (max-width: 1000px){
                width: $size-img-flag-mob;
            }
        }

        & span {
            transform: translateY(15%);

            padding: 0px 0px 0px 5px;
            @include text_streach ($size-text-max, $size-text-min, #fff, 400);
        }
    }
    // .select-language__input
    &__input {
        display: none;
    }
}

//= .select-active 
.select-active {
    position: relative;
    z-index: 3;
    
    background-color: #000;

    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 100px;

        background-color: #000;
    }
    // .select-active__body
    &__body {
        display: flex;
        align-items: center;

        padding: 7px;
    }
    // .select-active__img
    &__img {
        object-fit: cover;
        width: $size-img-flag;
        @media (max-width: 1000px){
            width: $size-img-flag-mob;
        }
    }
    // .select-active__text
    &__text {
        transform: translateY(10%);

        width: 60px;
        padding: 0px 0px 0px 5px;
        @include text_streach ($size-text-max, $size-text-min, #fff, 400);

        @media (max-width: 1000px){
            width: $width-box-tr-mob;
        }
    }
}

.gap-lang {
    padding: 4px;
}





